<%- include('partials/header') %>

<h1>Hello <%=username%> !!</h1>
<br>
<!--<h3>Post 1: </h3>
<p>qwertyuiytrea sadfghjgfdsa sdfghgfdsfgh sdfghjgfdsfghj</p>
<button class="btn btn-outline-dark">upvote</button>
<button class="btn btn-outline-dark">downvote</button>
<br><br><br>
<h3>Post 2: </h3>
<p>qwertyuiytrea sadfghjgfdsa sdfghgfdsfgh sdfghjgfdsfghj</p>
<button class="btn btn-outline-dark">upvote</button>
<button class="btn btn-outline-dark">downvote</button>
<br><br><br>
<h3>Post 3: </h3>
<p>qwertyuiytrea sadfghjgfdsa sdfghgfdsfgh sdfghjgfdsfghj</p>
<button class="btn btn-outline-dark">upvote</button>
<button class="btn btn-outline-dark">downvote</button>
<br><br><br>-->
<form class="form" action="/posts" method="POST">
<button type="submit" class="btn btn-lg btn-light">Post Now</button>
</form>



<%- include('partials/footer') %>
